  

  <ul class="navp-sub"> 
      <li><a href="#rtab0"> General </a></li>
      <li><a href="#rtab1"> Bipolar </a></li>
      <li><a href="#rtab2"> JFET </a></li>
      <li><a href="#rtab3"> CMOS </a></li>
      <li><a href="#rtab4"> TRIAC </a></li>
    </ul>

  <div class="infos">
     <article id="rtab0">    
        {% for component in transistors_g %}
          {% include "component/component_mainpage.html" %}
        {% endfor%}
    </article>

    <article id="rtab1">    
        {% for component in resistors_c %}
        	{% include "component/component_mainpage.html" %}
        {% endfor%}
    </article>

    <article id="rtab2">
      {% for component in resistors_potenciometer %}
       {% include "component/component_mainpage.html" %}
      {% endfor%}
  </article>

  <article id="rtab3">
      {% for component in resistors_trimmer %}
        {% include "component/component_mainpage.html" %}
      {% endfor%}
  </article>

  <article id="rtab4">
      {% for component in resistors_t %}
       {% include "component/component_mainpage.html" %}
      {% endfor%}
  </article>
  </div>