<option name="band05"  value=" " class="w3-number" data-np-checked="1"> <label class="w3-validate">0</label></option>
<option name="band05"  value="50" class="w3-number" data-np-checked="1"> <label class="w3-validate">1H</label></option>
<option name="band05"  value="100" class="w3-number" data-np-checked="1"> <label class="w3-validate">2A</label></option>
<option name="band05"  value="200" class="w3-number" data-np-checked="1"> <label class="w3-validate">2D</label></option>
<option name="band05"  value="250" class="w3-number" data-np-checked="1"> <label class="w3-validate">2E</label></option>
<option name="band05"  value="400" class="w3-number" data-nchecked="1"> <label class="w3-validate">2G</label></option>
<option name="band05"  value="630" class="w3-number" data-np-checked="1"> <label class="w3-validate">2J</label></option>

