<option name="band04"  value=" " class="w3-number" data-np-checked="1"> <label class="w3-validate">0</label></option>
<option name="band04"  value="0.5pF" class="w3-number" data-np-checked="1"> <label class="w3-validate">D</label></option>
<option name="band04"  value="1%" class="w3-number" data-np-checked="1"> <label class="w3-validate">F</label></option>
<option name="band04"  value="2%" class="w3-number" data-np-checked="1"> <label class="w3-validate">G</label></option>
<option name="band04"  value="3%" class="w3-number" data-np-checked="1"> <label class="w3-validate">H</label></option>
<option name="band04"  value="5%" class="w3-number" data-nchecked="1"> <label class="w3-validate">J</label></option>
<option name="band04"  value="10%" class="w3-number" data-np-checked="1"> <label class="w3-validate">K</label></option>
<option name="band04"  value="20%" class="w3-number" data-np-checked="1"> <label class="w3-validate">M</label></option>
<option name="band04"  value="+100% -0%" class="w3-number" data-np-checked="1"> <label class="w3-validate">P</label></option>
<option name="band04"  value="+80% -20%" class="w3-number" data-np-checked="1"> <label class="w3-validate">Z</label></option>

