{% extends "base.html"%}
{% load blog_tags %}


{% block title%}
	Dispositivos activos
{% endblock %}


{% block content %}



<ul class="navp">	
	<li><a href="#tab1"> Transistores </a></li>
</ul>
<div class="info">
	
  <article id="tab1">
         {% include "transistors/list_transistors.html" %}
  </article>

</div>
{% endblock %}

{% block sidebar %}
<h2 style="text-align: center;">
  <a href="{% url "blog:post_search" %}">BUSCAR</a>
</h2>
<div class="sidebar-info">
  <div class="side-infor">
    <h3 class="sidebar_color">Elementos relacionados</h3> 
      {% for component in transistors_d %}
        {% include "component/general_component_main.html" %}
      {% endfor%}
  </div>

  <div class="side-infoc">
    <!--  {% for component in capacitors_g %}
        {% include "component/general_component_main.html" %}
      {% endfor%} -->
  </div>

  <div class="side-infod">
    <h3 class="sidebar_color">Elementos relacionados</h3> 
     <!-- {% for component in diodes_d %}
        {% include "component/general_component_main.html" %}
      {% endfor%} -->
  </div>
</div>
{% endblock %} 