{% extends "base.html"%}

{% block title%}
	Dispositivos activos
{% endblock %}


{% block content %}



<ul class="navp">	
	<li><a href="#tab1"> Transistores </a></li>
</ul>


<div class="info">
	
<article id="tab1">
  {% for transistor in transistors %}
    <h2>
        <a href="{% url "blog:details" transistor.slug %}">{{ transistor.slug }}</a>
    </h2>
    <p class="date">
      {{ transistor.title|truncatewords_html:30  }}
    </p>
  {% endfor %}
</article>


</div>

{% endblock %}

{% block sidebar %}

{% endblock %}