{% extends "base.html" %}
{% load blog_tags %}

{% block title %}
	{{ component.title }}
{% endblock %}

{% block content %}
	<h3> Descripción </h3>
	<h5>{{ component.description|markdown}}</h5>
	<h3>Caracteristicas</h3>
	<h5>{{ component.features|markdown }}</h5>
	

{% endblock %}

{% block sidebar %}
		<img class="center-image-3" src="{{ component.image.url }}" alt="{{ component.title }}">

		<h3 class="sidebar_color">Componentes similares</h3>
		<h5> {{ component.similar_components }}</h5>

		<h3 class="sidebar_color">Aplicaciones</h3>
		<h5> {{ component.aplications|markdown }}</h5>


		<a href="{{ component.datasheet }}" target="blank">Datasheet</a>

{% endblock %}