{% extends "base.html" %}
{% load blog_tags %}

{% block title %}
	{{ component.title }}
{% endblock %}

{% block content %}
	<h1> Descripción </h1>
	{{ component.description|markdown}}
	<h1>Caracteristicas</h1>
	{{ component.features|markdown }}
	

{% endblock %}

{% block sidebar %}
		
		<img class="center-image-3" src="{{ component.image.url }}" alt="{{ component.title }}">

		<h3 class="sidebar_color">Componentes similares</h3>
		{{ component.similar_components|markdown }}

		<h3 class="sidebar_color">Aplicaciones</h3>
		{{ component.aplications|markdown }}


		<a href="{{ component.datasheet }}" target="blank">Datasheet</a>

{% endblock %}