{% extends "base.html"%}
{% load blog_tags %}

{% block title%}
	Dispositivos pasivos
{% endblock %}

{% block content %}

<ul class="navp">	
	<li><a href="#tab1"> Resistencias </a></li>
 	<li><a href="#tab2"> Capacitores </a></li>
 	<li><a href="#tab3"> Diodos </a></li>
</ul>


<div class="info">
	
<article id="tab1">

    <ul class="navp-sub"> 
      <li><a href="#stab1" id="resistor"> Pelicula de carbono </a></li>
      <li><a href="#stab2"> Potenciometros </a></li>
      <li><a href="#stab3"> Trimmers </a></li>
      <li><a href="#stab4"> Termistores </a></li>
    </ul>

<div class="infos">
  <article id="stab1">    
      {% for component in resistors_c %}
      	{% include "component/component_mainpage.html" %}
      {% endfor%}
  </article>

  <article id="stab2">
    {% for component in resistors_potenciometer %}
     {% include "component/component_mainpage.html" %}
    {% endfor%}
</article>

<article id="stab3">
    {% for component in resistors_trimmer %}
      {% include "component/component_mainpage.html" %}
    {% endfor%}
</article>

<article id="stab4">
    {% for component in resistors_t %}
     {% include "component/component_mainpage.html" %}
    {% endfor%}
</article>
</div>

</article>

<article id="tab2">

    <ul class="navp-sub"> 
      <li><a href="#sab1"> Ceramico </a></li>
      <li><a href="#stab2"> Electrolitico </a></li>
      <li><a href="#stab3"> Tantalio </a></li>
      <li><a href="#stab4"> Poliester </a></li>
    </ul>

  {% for capacitor in capacitors %}
    <h2>
        <a href="{% url "blog:details" capacitor.slug %}">{{ capacitor.slug }}</a>
    </h2>
    <p class="date">
      {{ capacitor.title|truncatewords_html:30  }}
    </p>
  {% endfor%}
</article>

</div>

{% endblock %}

{% block sidebar %}
<div class="sidebar-info-r">
  <article id="side-tab1">
      {% for resistor in resistors_general %}

        <h2>
            <a href="{% url "blog:details" resistor.slug %}">{{ resistor.title }} </a>
             <a href="{% url "blog:details" resistor.slug %} style="margin-top: inherit;" "><h6 class="date">Haz click para saber mas de {{ resistor.title }}</h6></a>
        </h2>

        <img style="width: 100%; object-fit: cover; margin-top: 16px;" src="{{ resistor.image.url }}" alt="{{ component.title }}">

        <p>
          <h4>{{ resistor.description|markdown|truncatewords_html:30 }}</h4>
        </p>  

        <img style="width: 100%; object-fit: cover;" src="{{ resistor.image_1.url }}" alt="{{ component.title }}">

      {% endfor%}
  </article>
</div>

<div class="sidebar-info-c">
  <article>
  ss
  </article>
</div>
{% endblock %}