{% extends "base.html"%}
{% load blog_tags %}

{% block title%}
	Dispositivos pasivos
{% endblock %}

{% block content %}

<ul class="navp">	
	<li><a href="#tab1"> Resistencias </a></li>
 	<li><a href="#tab2"> Capacitores </a></li>
 	<li><a href="#tab3"> Diodos </a></li>
</ul>

<div class="info">	
    <article id="tab1">
      {% include "resistors/list_resistors.html" %}
    </article>

    <article id="tab2">
       {% include "capacitors/list_capacitors.html" %}
    </article>

    <article id="tab3">
      {% include "diodes/list_diodes.html" %}
    </article>
</div>
{% endblock %}



{% block sidebar %}

<div class="sidebar-info">
  <div class="side-infor">
    <!--   {% for component in resistors_general %}
        {% include "component/general_component_main.html" %}
      {% endfor%} -->
  </div>

  <div class="side-infoc">
    <!--  {% for component in capacitors_g %}
        {% include "component/general_component_main.html" %}
      {% endfor%} -->
  </div>

  <div class="side-infod">
    <h3 class="sidebar_color">Elementos relacionados</h3> 
     {% for component in diodes_d %}
        {% include "component/general_component_main.html" %}
      {% endfor%}
  </div>
</div>
{% endblock %} 