{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
	<div id="content">	
		{% include "navbar.html" %}	

		{% block content%}
		{% endblock %}

	</div>
	<div id="sidebar">
		{% block sidebar %}
		{% endblock %}
	</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    $( document ).ready(function(){
        $('ul.navp li a:first').addClass('active-panel');
        $('.info article').hide();
        $('.info article:first').show();
        $('.sidebar-info .side-infor').show();
        $('.sidebar-info .side-infoc').hide();



        $('ul.navp li a').click(function(){
            $('ul.navp li a').removeClass('active-panel');
            $(this).addClass('active-panel');
            $('.info article').hide();
            $('.sidebar-info article').hide();

            var activeTab = $(this).attr('href');
            console.log(activeTab);
            $(activeTab).show();
                if(activeTab == "#tab1"){
                	$('.sidebar-info .side-infor').show();
                    $('.sidebar-info .side-infoc').hide();
                    $('.sidebar-info .side-infod').hide();
                	$('.infos article:first').show();
                }else{
                	$('.sidebar-info .side-infor').hide();

                }

                if(activeTab == "#tab2"){
                    $('.sidebar-info .side-infoc').show();
                    $('.sidebar-info .side-infor').hide();
                    $('.sidebar-info .side-infod').hide();
                    $('.infos article#ctab1').show();
                }else{
                    $('.sidebar-info .side-infoc').hide();

                }

                 if(activeTab == "#tab3"){
                    $('.sidebar-info .side-infod').show();
                    $('.sidebar-info .side-infor').hide();
                    $('.sidebar-info .side-infoc').hide();
                    $('.infos article#dtab1').show();
                }else{
                    $('.sidebar-info .side-infod').hide();

                }

            return false;
        });

        $('ul.navp-sub li a:first').addClass('active-panel-s');
        $('.infos article').hide();
        $('.infos article:first').show();


        $('ul.navp-sub li a').click(function(){
            $('ul.navp-sub li a').removeClass('active-panel-s');
            $(this).addClass('active-panel');
            $('.infos article').hide();            

            var activeTab2 = $(this).attr('href');
            console.log(activeTab2);                         
            $(activeTab2).show();
            return false;
        });
    });
</script>

</body>
</html>
