<h1>Calculador de resistencias</h1>

<table class="table-calculator">
<tr align="center"><td>1er</td><td>2do</td><td>Mul</td><td></td><td>Tol</td></tr>
<tr>
<form name="colorSelect" method="" action="">
<td><select name="band1" value="1" onChange="calcResistance(this)" style="width: 50px; color: white; background: #583030;">
    {% include "resistors/color_band.html" %}
</select></td>
<td><select name="band2" value="0" onChange="calcResistance(this)" style="width: 50px; color: white; background: black;">
    {% include "resistors/color_band.html" %}
</select></td>
<td><select name="band3" value="2" onChange="calcResistance(this)" style="width: 50px; color: white; background: red;">
    {% include "resistors/color_band.html" %}
</select></td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td><select name="band4" value="0" onChange="calcResistance(this)" style="width: 50px; color: black; background: gold; size:5;">
    {% include "resistors/color_band_tolerance.html" %}
</select></td></tr>
</form>
</table>

<h3 style="text-align: center;"><text id="resistorValue">1,000 &ohm; &plusmn; 5%</text></h3>

<script>
    {% include "resistors/calculator_program.js" %}
</script>
