<style>
table{
    margin-top:1em;
    margin:auto;
}
table tr, td {
    font-size:.7em;
}
</style>
<h1>Calculador de resistencias</h1>
<table>
<tr align="center"><td>Banda 1</td><td>Banda 2</td><td>Banda 3</td><td></td><td>Banda 4</td></tr>
<tr align="center"><td>1er</td><td>2do</td><td>Multiplicador</td><td></td><td>Tolerancia</td></tr>
<tr>
<form name="colorSelect" method="" action="">
<td><select name="band1" value="1" onChange="calcResistance(this)" style="width: 50px; color: white; background: #583030;">
    {% include "resistors/color_band.html" %}
</select></td>
<td><select name="band2" value="0" onChange="calcResistance(this)" style="width: 50px; color: white; background: black;">
    {% include "resistors/color_band.html" %}
</select></td>
<td><select name="band3" value="2" onChange="calcResistance(this)" style="width: 50px; color: white; background: red;">
    {% include "resistors/color_band.html" %}
</select></td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td><select name="band4" value="0" onChange="calcResistance(this)" style="width: 50px; color: black; background: gold; size:5;">
    {% include "resistors/color_band_tolerance.html" %}
</select></td></tr>
<tr><font size="24"><center><td colspan="2" align="right"><h2>Resistencia:&nbsp;&nbsp;</h2></td><td colspan="3" align="left"><h2><text id="resistorValue">1,000 &ohm; &plusmn;5%</text></h2></td></center></font></tr>
</form>
</table>

<script>
    {% include "resistors/calculator_program.js" %}
</script>
